
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Restaurant List</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" href="/">Home </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/restaurants">Restaurants</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/cuisines/">Cuisines</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link " href="/reviewers/show" >Reviewers </a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <div class="container-fluid" >

          <div class="card" style="width: 700px;" >
              <img class="card-img-top" src="<%= @restaurant.image %>" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title"><%= @restaurant.name %></h5>
                 <p ><span class="lead">Cuisine:</span> <a href="/cuisines/<%= @restaurant.cuisine.id %>" class="badge badge-success"><%= @restaurant.cuisine.name %></a> </p>

                <p class="lead">Description:</p>
                <p class="card-text"> <%= @restaurant.description %></p>
                <hr class="my-4">
                <p class="lead">Address:</p>
                  <p class="card-text"><%= @restaurant.address %></p>
              <a href="/restaurants/" class="btn btn-secondary active" role="button" aria-pressed="true">Back</a>
              </div>
          </div>
         <%@comments.each do |comment|%>
          <div class="card" style="width: 700px;">
              <div class="card-body">
                <h5 class="card-title"><%=comment.reviewer.name%></h5>
                <p class="card-text"><%=comment.content%></p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
          </div>
        <% end %>
  </div>
